<a href="https://colab.research.google.com/github/simonskyjumpp/SQLassignments/blob/main/online_learning_platfor_sql_simulation_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving term IIII end assignment online learning platform dataset.xlsx to term IIII end assignment online learning platform dataset.xlsx

In [ ]:
import pandas as pd

file_name = "term IIII end assignment online learning platform dataset.xlsx"

In [ ]:
dfs = pd.read_excel(file_name, sheet_name=None)

In [ ]:
print("Sheets in the file:", dfs.keys())

Sheets in the file: dict_keys(['Students', 'Courses', 'Instructors', 'Enrollments', 'Assignments', 'Quizzes'])

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect("file_name")

In [ ]:
for sheet, df in dfs.items():
    df.to_sql(sheet, conn, index=False, if_exists="replace")

In [ ]:
print("Database created with tables:", dfs.keys())

Database created with tables: dict_keys(['Students', 'Courses', 'Instructors', 'Enrollments', 'Assignments', 'Quizzes'])

In [ ]:
query = "SELECT * FROM Students LIMIT 5;"

df_sql = pd.read_sql(query, conn)
print(df_sql)

   StudentID FirstName LastName                     Email  \
0          1       Raj   Sharma    raj.sharma@example.com
1          2     Priya    Singh   priya.singh@example.com
2          3      Amit    Kumar    amit.kumar@example.com
3          4    Anjali    Verma  anjali.verma@example.com
4          5     Rohit    Gupta   rohit.gupta@example.com

        EnrollmentDate Country
0  2023-01-10 00:00:00   India
1  2023-02-15 00:00:00   India
2  2023-03-20 00:00:00   India
3  2023-04-05 00:00:00   India
4  2023-05-10 00:00:00   India

In [ ]:
query = "SELECT * FROM Enrollments LIMIT 5;"
df_sql = pd.read_sql(query, conn)
print(df_sql)

   EnrollmentID  StudentID  CourseID       EnrollmentDate  Progress    Status
0           301          1       101  2023-01-15 00:00:00      0.75  Enrolled
1           302          2       102  2023-02-20 00:00:00      0.60  Enrolled
2           303          3       103  2023-03-25 00:00:00      0.80  Enrolled
3           304          4       104  2023-04-10 00:00:00      0.50  Enrolled
4           305          5       105  2023-05-15 00:00:00      0.90  Enrolled

In [ ]:
# Query 1: Names of students, courses, and grades
query1 = """
SELECT
    s.FirstName || ' ' || s.LastName AS StudentName,
    c.CourseName,
    e.Progress AS Grade
FROM
    Students s
JOIN
    Enrollments e ON s.StudentID = e.StudentID
JOIN
    Courses c ON e.CourseID = c.CourseID;
"""
df1 = pd.read_sql_query(query1, conn)
print("Query 1 Results:")
print(df1)

Query 1 Results:
    StudentName             CourseName  Grade
0    Raj Sharma    Introduction to SQL   0.75
1   Priya Singh           Advanced SQL   0.60
2    Amit Kumar          Data Modeling   0.80
3  Anjali Verma      Database Security   0.50
4   Rohit Gupta  SQL for Data Analysis   0.90
5   Sneha Reddy        NoSQL Databases   0.70

In [ ]:
# Query 2: Names of students, submitted assignments, and due dates
query2 = """
SELECT
    s.FirstName || ' ' || s.LastName AS StudentName,
    a.Title AS AssignmentTitle,
    a.DueDate
FROM
    Students s
JOIN
    Enrollments e ON s.StudentID = e.StudentID
JOIN
    Courses c ON e.CourseID = c.CourseID
JOIN
    Assignments a ON c.CourseID = a.CourseID
WHERE a.SubmissionDate IS NOT NULL;
"""
df2 = pd.read_sql_query(query2, conn)
print("\nQuery 2 Results:")
print(df2)

Query 2 Results:
    StudentName        AssignmentTitle              DueDate
0    Raj Sharma  SQL Basics Assignment  2023-03-01 00:00:00
1   Priya Singh   Advanced SQL Queries  2023-04-01 00:00:00
2    Amit Kumar  Data Modeling Project  2023-05-01 00:00:00
3  Anjali Verma      Security Measures  2023-06-01 00:00:00
4   Rohit Gupta   Data Analysis Report  2023-07-01 00:00:00
5   Sneha Reddy           NoSQL vs SQL  2023-08-01 00:00:00

In [ ]:
# Query 3: Names of students, submitted assignments, and submission dates
query3 = """
SELECT
    s.FirstName || ' ' || s.LastName AS StudentName,
    a.Title AS AssignmentTitle,
    a.SubmissionDate
FROM
    Students s
JOIN
    Enrollments e ON s.StudentID = e.StudentID
JOIN
    Courses c ON e.CourseID = c.CourseID
JOIN
    Assignments a ON c.CourseID = a.CourseID
WHERE a.SubmissionDate IS NOT NULL;
"""
df3 = pd.read_sql_query(query3, conn)
print("\nQuery 3 Results:")
print(df3)

Query 3 Results:
    StudentName        AssignmentTitle       SubmissionDate
0    Raj Sharma  SQL Basics Assignment  2023-02-28 00:00:00
1   Priya Singh   Advanced SQL Queries  2023-03-30 00:00:00
2    Amit Kumar  Data Modeling Project  2023-04-28 00:00:00
3  Anjali Verma      Security Measures  2023-05-30 00:00:00
4   Rohit Gupta   Data Analysis Report  2023-06-28 00:00:00
5   Sneha Reddy           NoSQL vs SQL  2023-07-30 00:00:00

In [ ]:
# Query 4: Names of students and average assignment scores (> 85)
query4 = """
SELECT
    s.FirstName || ' ' || s.LastName AS StudentName,
    AVG(a.MaxScore) AS AverageAssignmentScore
FROM
    Students s
JOIN
    Enrollments e ON s.StudentID = e.StudentID
JOIN
    Courses c ON e.CourseID = c.CourseID
JOIN
    Assignments a ON c.CourseID = a.CourseID
WHERE a.SubmissionDate IS NOT NULL
GROUP BY
    s.StudentID, s.FirstName, s.LastName
HAVING
    AVG(a.MaxScore) > 85;
"""
df4 = pd.read_sql_query(query4, conn)
print("\nQuery 4 Results:")
print(df4)

Query 4 Results:
    StudentName  AverageAssignmentScore
0    Raj Sharma                   100.0
1   Priya Singh                   100.0
2    Amit Kumar                   100.0
3  Anjali Verma                   100.0
4   Rohit Gupta                   100.0
5   Sneha Reddy                   100.0

In [ ]:
# Query 5: Names of students and their total progress (> 200%)
query5 = """
SELECT
    s.FirstName || ' ' || s.LastName AS StudentName,
    SUM(e.Progress) AS TotalProgress
FROM
    Students s
JOIN
    Enrollments e ON s.StudentID = e.StudentID
GROUP BY
    s.StudentID, s.FirstName, s.LastName
HAVING
    SUM(e.Progress) > 200;
"""
df5 = pd.read_sql_query(query5, conn)
print("Query 5 Results:")
print(df5)

Query 5 Results:
Empty DataFrame
Columns: [StudentName, TotalProgress]
Index: []

In [ ]:
# Query 6: Names of students who submitted assignments for "Advanced SQL"
query6 = """
SELECT DISTINCT
    s.FirstName || ' ' || s.LastName AS StudentName
FROM
    Students s
JOIN
    Enrollments e ON s.StudentID = e.StudentID
JOIN
    Courses c ON e.CourseID = c.CourseID
JOIN
    Assignments a ON c.CourseID = a.CourseID
WHERE
    c.CourseName = 'Advanced SQL' AND a.SubmissionDate IS NOT NULL;
"""
df6 = pd.read_sql_query(query6, conn)
print("Query 6 Results:")
print(df6)

Query 6 Results:
   StudentName
0  Priya Singh

In [ ]:
# Query 7: Email addresses of students with progress > 70% in any course
query7 = """
SELECT DISTINCT
    s.Email
FROM
    Students s
JOIN
    Enrollments e ON s.StudentID = e.StudentID
WHERE
    e.Progress > 0.7;
"""
df7 = pd.read_sql_query(query7, conn)
print("Query 7 Results:")
print(df7)

Query 7 Results:
                     Email
0   raj.sharma@example.com
1   amit.kumar@example.com
2  rohit.gupta@example.com

In [ ]:
# Query 8: Students enrolled in courses taught by Anil Kapoor or Kavita Iyer
query8 = """
SELECT DISTINCT
    s.FirstName || ' ' || s.LastName AS StudentName
FROM
    Students s
JOIN
    Enrollments e ON s.StudentID = e.StudentID
JOIN
    Courses c ON e.CourseID = c.CourseID
JOIN
    Instructors i ON c.InstructorID = i.InstructorID
WHERE
    (i.FirstName = 'Anil' AND i.LastName = 'Kapoor')
    OR (i.FirstName = 'Kavita' AND i.LastName = 'Iyer');
"""
df8 = pd.read_sql_query(query8, conn)
print("Query 8 Results:")
print(df8)

Query 8 Results:
   StudentName
0   Raj Sharma
1  Sneha Reddy

In [ ]:
# Query 9: Students enrolled between January 1, 2023, and March 30, 2023
query9 = """
SELECT
    s.FirstName || ' ' || s.LastName AS StudentName
FROM
    Students s
WHERE
    s.EnrollmentDate BETWEEN '2023-01-01' AND '2023-03-30';
"""
df9 = pd.read_sql_query(query9, conn)
print("Query 9 Results:")
print(df9)

Query 9 Results:
   StudentName
0   Raj Sharma
1  Priya Singh
2   Amit Kumar

In [ ]:
# Query 10: Students enrolled in "Introduction to SQL" or "SQL for Data Analysis" with progress > 70%
query10 = """
SELECT DISTINCT
    s.FirstName || ' ' || s.LastName AS StudentName
FROM
    Students s
JOIN
    Enrollments e ON s.StudentID = e.StudentID
JOIN
    Courses c ON e.CourseID = c.CourseID
WHERE
    (c.CourseName = 'Introduction to SQL' OR c.CourseName = 'SQL for Data Analysis')
    AND e.Progress > 0.7;
"""
df10 = pd.read_sql_query(query10, conn)
print("Query 10 Results:")
print(df10)

Query 10 Results:
   StudentName
0   Raj Sharma
1  Rohit Gupta

In [ ]:
# Close the connection
conn.close()